
.clearfix {
  overflow: auto;
}
.img-fluid-ne {
  max-width: 40%;
  height: auto;
}

.border-right-or {
  border-right: 2px solid #e24a21 !important;
}

.network-eff h2 {
  font-size: 3.0vh;
}

.network-eff h3 {
  font-size: 2.0vh;
}

.network-eff h4 {
  font-size: 1.1vh;
}

p {
  font-size: 2vmin;
}

.rp-average {
  width: 100%;
  text-align: left;
}

/* GREEN TABLE */
.table-green {
  color: #ffffff;
  background: #18590d;
}

.table-green-alt {
  color: #ffffff;
  background: #248414;
}

.table-green td, .table-green th, .table-green thead th {
  border-color: #ffffff;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 600;
}

/* END GREEN TABLE */
/* DARK ALT TABLE */
.table-dark-alt {
  color: #ffffff;
  background: #555555;
}

.table-dark-light-alt {
  color: #ffffff;
  background: #7b7676;
}

.table-dark-alt td, .table-dark-alt th, .table-dark-alt thead th {
  border-color: #ffffff;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 600;
}

/* END DARK ALT TABLE */
/* TABLE ORANGE */
.boldthead {
  font-size: 15px !important;
}

.grthead {
  color: #32da52;
}

.table-orange {
  color: #ffffff;
  background: #f04f22;
}

.table-white {
  background: #ffffff;
  color: #000000;
}

.table-orange thead {
  background: #cd4528;
}

.table-orange td, .table-orange th, .table-orange thead th {
  border-color: #ffffff;
  text-align: center;
  font-size: 12px;
  vertical-align: middle;
  font-weight: 600;
}

/* END TABLE ORANGE */
.modal-body {
  background: #ffffff;
}

.margin-bt {
  margin-bottom: 20px;
}

.margin-bt-tp {
  margin-top: 30px;
  margin-bottom: 30px;
}

.py-2-ov {
  padding-bottom: 0rem !important;
  padding-top: 0.7rem;
}

.left-align {
  text-align: left;
}

.text-center-bold {
  text-align: center;
  font-weight: 600;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* GRAY CIRCLE FULL */
.gray-circle {
  width: 180px;
  height: 180px;
  background: #555555;
  border: 1px solid #555555;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

/* END GRAY CIRCLE FULL */
/* GRAY CIRCLE FULL BORDER */
.gray-circle-border {
  width: 180px;
  height: 180px;
  background: #ffffff;
  border: 4px solid #555555;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
}

/* END GRAY CIRCLE FULL BORDER */
/* GRAY CIRCLE FULL DASHED */
.gray-circle-dashed-md {
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 5px dashed #555555;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.gray-circle-dashed-md-02 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 5px dashed #555555;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.total-gray-circle-dashed-md-02 h1 {
  font-size: 1.2rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.total-gray-circle-dashed-md-02 h2 {
  font-size: 0.6rem;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.total-gray-circle-dashed-md-02 h3 {
  font-size: 0.5rem;
  position: absolute;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

/* END GRAY CIRCLE FULL DASHED */
/* GREEN CIRCLE FULL */
.green-circle {
  width: 180px;
  height: 180px;
  background: #235903;
  border: 1px solid #235903;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
}

/* END GREEN CIRCLE FULL */
/* GREEN CIRCLE FULL BORDER */
.green-circle-border {
  width: 180px;
  height: 180px;
  background: #fff;
  border: 4px solid #235903;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

/* END GREEN CIRCLE FULL BORDER */
/* GREEN CIRCLE FULL BORDER MD */
.green-circle-border-md {
  width: 70px;
  height: 70px;
  background: #fff;
  border: 4px solid #235903;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.green-total-border-md h1 {
  font-size: 1.5rem;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.green-total-border-md h2 {
  font-size: 0.6rem;
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.green-total-border-md h3 {
  font-size: 0.7rem;
  position: absolute;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

/* END GREEN CIRCLE FULL BORDER MD */
/* ORANGE CIRCLE FULL */
.orange-circle {
  width: 180px;
  height: 180px;
  background: #fa4d06;
  border: 1px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.orange-total {
  text-align: center;
  height: 80px;
  border-radius: 90px 90px 0 0;
  background: #3c3b3b;
  margin: 8px;
}

.oc-total h1 {
  font-size: 3rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

.oc-total h2 {
  font-size: 0.9rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

.oc-total h3 {
  font-size: 1rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

/* END ORANGE CIRCLE FULL */
/* ORANGE CIRCLE FULL MED */
.orange-circle-md {
  width: 70px;
  height: 70px;
  background: #fa4d06;
  border: 1px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.orange-circle-md-02 {
  width: 60px;
  height: 60px;
  background: #fa4d06;
  border: 1px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 0px;
  margin-bottom: 1.5rem;
}

.orange-total-md {
  text-align: center;
  height: 80px;
  border-radius: 90px 90px 0 0;
  background: #3c3b3b;
  margin: 8px;
}

.oc-total-md h1 {
  font-size: 2rem;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

.oc-total-md-alt h1 {
  font-size: 1rem;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff;
}

/* END ORANGE CIRCLE FULL MED */
/* ORANGE CIRCLE BORDER */
.orange-circle-border {
  width: 180px;
  height: 180px;
  background: #ffffff;
  border: 4px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.oc-total-border h1 {
  font-size: 3rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border h2 {
  font-size: 0.8rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border h3 {
  font-size: 1rem;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #f42536;
}

/* END ORANGE CIRCLE BORDER */
/* ORANGE CIRCLE BORDER MED */
.orange-circle-border-md {
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 4px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.orange-circle-border-md-02 {
  width: 60px;
  height: 60px;
  background: #ffffff;
  border: 4px solid #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.oc-total-border-md {
  text-align: center;
  height: 80px;
  border-radius: 90px 90px 0 0;
  margin: 8px;
}

.oc-total-border-md h1 {
  font-size: 1.2rem;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md-02 h1 {
  font-size: 1.2rem;
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md-02 h3 {
  font-size: 0.6rem;
  position: absolute;
  top: 24%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md h2 {
  font-size: 0.8rem;
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md h3 {
  font-size: 0.6rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md-bt h1 {
  font-size: 1.2rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

.oc-total-border-md-bt h3 {
  font-size: 0.6rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #000000;
}

/* END ORANGE CIRCLE BORDER MED */
/* ORANGE CIRCLE DOTTED */
.orange-circle-dotted {
  width: 180px;
  height: 180px;
  background: #ffffff;
  border: 4px dotted #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

/* END ORANGE CIRCLE DOTTED */
/* ORANGE CIRCLE DOTTED MD */
.orange-circle-dotted-md {
  width: 70px;
  height: 70px;
  background: #ffffff;
  border: 2px dotted #fa4d06;
  border-radius: 200px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

/* END ORANGE CIRCLE DOTTED MD */
@media(min-width: 768px) {
  .col-1-5 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}
